/* Write your CSS here! */

/* id selector */
#chapter {
    background-color: white;
    display: inline-block;
    position: relative; */
}

/* id selector */
#pics {
    float:right;
    height: 250px;
    object-fit: contain;
    margin: 3px
}

/* element selector */
body {
    margin: 8px;
    display: block;
}

/* id selector */
#mainHeading {
    color: red;
    font-family: arial;
}

/* id selector */
#subheading {
    font-family: arial;
    color: #2C3539;
}

/* class selector */
.fun-paragraph {
    color: green;
}

/* element selector */
p {
    font-family: sans-serif;
    color: #625D5D;
}
