/* Write your CSS here! */
/* #body {
    background-image: images/066A3098.jpg" id="familyof4";
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 80;
} */

/* #chapter {
    background-color: white;
    display: inline-block;
    position: relative; */
/* } */

/* #coworkerPics {
    float: right;
    width: 200px;
    height: 145px;
    object-fit: contain;
} */